*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(187, 187, 221);
    overflow-x: hidden;
}
.page-container{
    width: 1520px;
    height: 1790px;
    margin: auto;
    position: relative;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
header{
    position: absolute;
    top: 1px;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #942b2b;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
nav{
    background-color: #1a0c0c;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    /* z-index: 111; */
}
nav a{
    margin-right:40px;
    color: white;  
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}
.photo{
    margin-right: 130px;
}
.home{
    margin-right: 80px;
    font-size: 30px;
}
a:hover{
    color: blue;
}
.active{
    color: blue;
}
.main{
    width: 100%;
    height: 400px;
    background-color: #266fb8;
    position: absolute;
    right: 0;
    top:61px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.img-container{
    width: 100%;
    height: 100%;
}
.img{
    width: 100%;
    height: 100%;
}
.main2{
    width: 80%;
    height: 1570px;
    background-color: #266fb8;
    position: absolute;
    right: 0;
    top:461px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
table{
    width: 95%;
    text-align: center;
    margin-top: 50px;
    height: 440px;
    margin-right: 25px;
}
table ,th , td{
    border: 1px solid black;
    background-color: transparent;
    color: #1a0c0c;
    font-size: 30px;
}
table td h6:hover{
    color: blue;
    cursor: pointer;
}
.img-container2{
    width: 150px;
    margin: auto;
}
table tr td img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
} 
.contacts-info{
    width: 100%;
    height: 70px;
}
.contacts-info h6:hover {  
    color: #0961e6;
    cursor: pointer;
}
.main2 h3{
    font-size: 50px;
    font-weight: bolder;
    margin-right: 490px;
    /* margin-top: 200px; */
}
form{
    width: 70%;
    height: 800px;
    margin-right: 170px;
    margin-bottom: 430px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    text-align: right;
}
label{
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 10px;
}
input{
    margin-bottom: 20px;
    height: 30px;
}
textarea{
    height: 150px;
    resize: none;
}
.btn{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 350px;
    background-color: #942b2b;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: #1a0c0c;
    background-color: #e6ab09;
}
.side{
    width: 20%;
    height: 1570px;
    background-color: #943535;
    position: absolute;
    left: 0;
    top:461px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.side h3{
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
    margin-bottom: 30px;
}
.side h4{
    font-size: 40px;
    text-align: right;
    font-weight: bold;
    color: black;
    margin-right: 10px;
}
.side h6{
    font-size: 22px;
    text-align: right;
    font-weight: bold;
    color: black;    
    margin: 20px 18px 20px 10px;
}
.side hr{
    width: 80%;
    margin: 30px 13px; 
    margin-left: 40px;
    border: 1px black solid; 
}
footer{
    width: 100%;
    height: 60px;
    background-color: #312525;
    color: white;
    position: absolute;
    bottom: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h4{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
