*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(187, 187, 221);
    overflow-x: hidden;
}
.page-container{
    width: 1520px;
    height: 1500px;
    margin: auto;
    position: relative;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
header{
    position: absolute;
    top: 0;    
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #942b2b;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
nav{
    background-color: #1a0c0c;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
}
nav a{
    margin-right:40px;
    color: white;  
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}
.photo{
    margin-right: 130px;
}
.home{
    margin-right: 80px;
    font-size: 30px;
}
a:hover{
    color: blue;
}
.active{
    color: blue;
}
.main{
    width: 100%;
    height: 400px;
    background-color: #266fb8;
    position: absolute;
    right: 0;
    top:61px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.img-container{
    width: 100%;
    height: 100%;
}
.img{
    width: 100%;
    height: 100%;
}
.main2{
    width: 80%;
    height: 1040px;
    background-color: #266fb8;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.main2 h2{
    font-size: 40px;
    font-weight: bolder;
    margin-right: 30px;
    position: relative;
    top: 40px;
    margin-left: 400px;
}
.info{
    
    width: 60%;
    height: 300px;
    text-align: right;
}
.info p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}
.img-container2{
    width: 40%;
    height: 300px;
    background-color: #1a0c0c;
}
.img-container2 img{
    width: 100%;
    height: 100%;
    object-fit: fill; 
}
.info2{
    width: 100%;
}
.info2 p{
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    margin-top: 50px;
}
.side{
    width: 20%;
    height: 1040px;
    background-color: #943535;
    position: absolute;
    left: 0;
}
table{
    width: 100%;
    text-align: center;
    margin-top: 150px;
    height: 740px;
}
table ,th , td{
    border: 1px solid black;
    background-color: transparent;
    color: #1a0c0c;
    font-size: 30px;
}
footer{
    width: 100%;
    height: 60px;
    background-color: #312525;
    color: white;
    position: absolute;
    bottom: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h4{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


